[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
ipykernel = "*"
pandas = "*"
prettytable = "*"
python-craigslist = "*"
python-decouple = "*"
requests = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.9"
